.img{
    height: 300px;
    width:500px;
    border-radius: 600px;
}

.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.profile img{
    margin-top: 100px;
    margin-bottom: 50px;
}

.profile h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;

}

.profile h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.heroAction{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.heroConnect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 100%);
    cursor: pointer;
}

.resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;

}


.heroConnect:hover{
   border: 2px solid white;
}

.resume:hover{
    border-color: #B415FF;

}