.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    padding-top: 100px;
    padding-bottom: 10px;
}

.contactTitle{
    position:relative;
}

.contactTitle h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contactTitle img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contactSection{
    display: flex;
    gap: 150px;
}

.contactLeft{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.contactLeft h1 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent; 
}


.contactLeft p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}

.contactDetails{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}

.contactDetail{
    display: flex;
    align-items: center;
    gap: 20px;

}

.contactRight{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contactRight label{
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;

}

.contactRight input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
   
    font-size: 20px;
}


.contactRight textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: large;
}


.contactSubmit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 100%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;

    
  
  
}

.contactSubmit:hover{
    transform: scale(1.1);

    transition: 0.3s;

}