.logo {
    width: 350px;
    height: 130px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 17px 150px;
}

.navMenu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 100px;
    font-size: 25px;
}

.menu {
    color: #fff;
    text-decoration: none;
}

.navMenu li:hover {
    cursor: pointer;
    transform: scale(1.30);
    transition: all 0.3s ease;
}

.navConnect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.60%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.navConnect:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1024px) {
    .navbar {
        margin: 17px 50px;
    }

    .navMenu {
        gap: 50px;
        font-size: 20px;
    }

    .logo {
        width: 250px;
        height: 100px;
    }

    .navConnect {
        padding: 15px 30px;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        margin: 10px 20px;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    .navMenu {
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
        margin-top: 20px;
    }

    .navConnect {
        padding: 12px 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 150px;
        height: auto;
    }

    .navMenu {
        font-size: 16px;
        gap: 15px;
    }

    .navConnect {
        padding: 10px 15px;
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
}